spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5432/assets_db}
    username: ${SPRING_DATASOURCE_USERNAME:assets_user}
    password: ${SPRING_DATASOURCE_PASSWORD:assets_pass}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

server:
  port: 8080
